<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.url }}/assets/img/favicon/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/assets/img/favicon/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/assets/img/favicon/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/assets/img/favicon/apple-touch-icon-144x144.png" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/img/favicon/favicon.png" />
<link rel="shortcut icon" href="{{ site.url }}/assets/img/favicon/favicon.ico" />
