// Fonts
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif");
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:900");

$font1: PT Serif, serif;
$font2: PT Mono;
$title-font   : Lobster, cursive;
$menu-font    : Alegreya Sans SC, sans-serif;
$main-font    : Roboto Slab, serif;

// Colors
$blue: #3498db;
$orange: #e67e22;
$red: #e74c3c;
$white: #ecf0f1;
$green: #2ecc71;
$turko: #1abc9c;
$purple: #9b59b6;
$dark-blue: #34495e;

$main-color: $white;
$background-color: $blue;
$thrid-color: rgba(52, 152, 219, 0.8);

// Heigths
$top-margin: 130px;
$top-margin-mobile: 100px;


$color_0: #dedecb;
$color_1: #000;
$color_2: #fff;
$color_3: rgba(0, 0, 0, 0.42);
$color_4: #cb6077;
$color_5: #000000;
$color_6: #3b3228;
$color_7: #343434;
$color_8: #4e4e4e;
$color_9: #1b1b1b;
$color_10: #4d4d4b;
$color_11: #f5f5f5;
$color_12: #efefef;
$color_13: #8ab3b5;
$color_14: #222222;
$color_15: #555;
$color_16: #fcfcfc;
$color_17: #ccc;
$color_18: #bbb;


//colors
$bodycolor           : #D24D57;
$black           	 : #000;
$white               : #fff;
$color_gray          : #e8e8e8;
$red                 : #FF4136;
$maroon              : #85144b;
$color_tuatara       : #383838;
$color_shark         : #282828;
$color_mischka       : #d0d1d5;
$color_mercury       : #e5e6e9;
$color_bon_jour      : #dfe0e4;
$color_gallery       : #f0f0f0;
$color_stack         : #8c8b8b;
$color_alabaster     : #f9f9f9;
$color_tundora       : #444;
$color_fuscous_gray  : #555;
$color_alabaster     : #fcfcfc;
$color_celeste       : #ccc;
$color_pink_swan     : #bbb;
$comp-color 	     : #222;

//button colors
$success			 : #5cb85c;
$warning			 : #dd8338;
$danger				 : #C64537;
$info		         : #308cbc;

//fonts
$font1               : Fira Sans,sans-serif;
$font2               : Inconsolata;
$alt-font            : serif;
$doc-font-size       : 16;
$doc-line-height     : 26;

//media
$small               : "only screen and (max-width: 30em)";
$medium              : "only screen and (min-width: 30.1em) and (max-width: 48em)";
$large               : "only screen and (min-width: 48.1em) and (max-width: 62.5em)";
$notsmall            : "only screen and (min-width: 48em)";
